@font-face {
    font-family: Arimo-Bold;
    src: url(../font/arimo/Arimo-Bold.ttf);
}

@font-face {
    font-family: Arimo-Normal;
    src: url(../font/arimo/Arimo-Regular.ttf);
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../font/arimo/Arimo-Italic.ttf);
}

h1 {
    font-family: Arimo-Bold;
}

h2 {
    font-family: Arimo-Bold;
}

h4 {
    font-family: Arimo-Bold;
}

p {
    font-family: Arimo-Normal;
}

figure {
    font-family: Arimo-Normal;
}

a {
    font-family: Arimo-Normal;
}

td {
    font-family: Arimo-Normal;
}

#bdyMainWindow {
    width: 1000px;
    margin: 1em auto;
    text-align: center;
    height: fit-content;
    background-color: aliceblue;
}

.bg-primary {
    background-color: lightblue !important;
}

#dvHeader {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: .125em;
    background-color: lightblue;
    border-radius: 5px;
}

#dvFooter {
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: lightblue;
}

#dvFooter p {
    padding: .5em;
    border-radius: 5px;
}

#dvFooter table {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#dvHeader a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#dvMainWindow {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

#h1LatestReleaseLink {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#pDescription {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 0em 3em 0em 3em;
}

#h4EarlierReleasesLink {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#figCustomerQuote {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#blqCustomerQuote {
    font-family: Arimo-Italic;
}

#fgcQuoteAuthor {
    font-family: Arimo-Normal;
    text-align: left;
}